<div class="jumbotron container-fluid">
    <form>
        <div class="row">
          <div class="col col-md-6  col-sm-12 col-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" value="Developer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Technology 1" value=".net">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Technology 2" value="Mongodb">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Technology 3" value="MVC">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select City">
                <mat-option value="Chennai">Chennai</mat-option>
                <mat-option value="Hyderabad">Hyderabad</mat-option>
                <mat-option value="Vizag">Vizag</mat-option>
                <mat-option value="Vijayawada">Vijayawada</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </div>
          <div class="col col-md-6  col-sm-12 col-12">
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Min exp" value="1">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Max exp" value="5">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="E-mail" value="@domain.com" required>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description"></textarea>
            </mat-form-field>
            <div class="float-right">
              <button type="button" class="btn btn-ces">Post</button>
              <button type="button" class="btn btn-dark">reset</button>
            </div>
    
    
          </div>
        </div>
      </form>
</div>